<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bookstore.mapper.OrderDetailsMapper">
<resultMap id="order_details" type="com.bookstore.pojo.OrderDetails">
    <id property="id" column="id"/>
    <result column="order_id" property="orderId"/>
    <result column="book_number" property="bookNumber"/>
    <result column="book_price" property="bookPrice"/>
    <association property="bookInfo" javaType="com.bookstore.pojo.BookInfo">
        <id property="id" column="id"/>
    </association>
</resultMap>
    <select id="selectById" resultMap="order_details">
        SELECT * FROM order_details
        WHERE id = #{id}
    </select>

    <insert id="insertOrder" parameterType="com.bookstore.pojo.OrderDetails">
        insert into order_details(id,order_id,book_id,book_number,book_price)
        values (#{id},#{orderId},#{bookInfo.id},#{bookNumber},#{bookPrice})
    </insert>

</mapper>