<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!--设置将数据库命名规则映射成驼峰命名规则-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--设置使用日志的框架-->
        <setting name="logImpl" value="LOG4J" />
    </settings>
</configuration>